# Archivos de configuración de usuario de Visual Studio
.vs/
.vscode/
.idea/

# Archivos generados por Visual Studio
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]ebug-[Ll]inux/
[Dd]ebug-[Mm]ac/
[Dd]ebug-[Ww]indows/
[Dd]ist/

# Archivos generados por ASP.NET
*.dbmdl
*.bak
*.log

# Archivos generados por ASP.NET Core
project.lock.json
project.fragment.lock.json

# Archivos de dependencias de NuGet
*.nupkg
*.snupkg

# Directorios de dependencias de NuGet
.nuget/
packages/

# Archivos generados por el compilador
*.dll
*.exe
*.pdb
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos temporales de compilación
obj/
bin/
/src/Infrastructure/obj
/src/Infrastructure/bin
/src/Core/Ecommerce.Domain/obj
/src/Core/Ecommerce.Domain/bin
/src/Core/Ecommerce.Application/obj
/src/Core/Ecommerce.Application/bin
/src/Api/bin
/src/Api/obj

# Archivos de configuración específicos del entorno
/src/Api/appsettings.json

# Archivos de instalación de dependencias globales (por ejemplo, NPM)
node_modules/

# Archivos de logs
*.log
